@model Renipe.Models.Meal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NutritionFacts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="MealId" value="@Model.MealId" />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FoodName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FoodName)
                    <input asp-for="FoodName" type="hidden" />
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CaloriesPerServing)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CaloriesPerServing)
                    <input asp-for="CaloriesPerServing" type="hidden" />
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CarbohydratesPerServing)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CarbohydratesPerServing)
                    <input asp-for="CarbohydratesPerServing" type="hidden" />
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ProteinPerServing)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProteinPerServing)
                    <input asp-for="ProteinPerServing" type="hidden" />
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FatPerServing)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FatPerServing)
                    <input asp-for="FatPerServing" type="hidden" />
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.PhosphorusPerServing)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PhosphorusPerServing)
                    <input asp-for="PhosphorusPerServing" type="hidden" />
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.PotassiumPerServing)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PotassiumPerServing)
                    <input asp-for="PotassiumPerServing" type="hidden" />
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.SodiumPerServing)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SodiumPerServing)
                    <input asp-for="SodiumPerServing" type="hidden" />
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Servings)
                </dt>
                <dd class="col-sm-10">
                    @Html.EditorFor(model => model.Servings)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-sm-10">
                    @Html.EditorFor(model => model.Date)
                </dd>
                <dt class="col-sm-3">
            </dl>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
