@model Fridgeopolis.Models.NutritionFacts

@{
    ViewData["Title"] = "Nutrition Details";
}

<h1>Nutrition Details</h1>

<div>
    <h4>NutritionFacts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaloriesPerServing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaloriesPerServing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarbohydratesPerServing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarbohydratesPerServing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProteinPerServing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProteinPerServing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatPerServing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatPerServing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhosphorusPerServing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhosphorusPerServing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PotassiumPerServing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PotassiumPerServing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SodiumPerServing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SodiumPerServing)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Create">Track</a> |
    <a href='javascript:history.go(-1)'>Go Back</a>
</div>
