@model Fridgeopolis.Models.FdcResults
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.foods.SingleOrDefault().brandOwner)</th>
            <th>@Html.DisplayNameFor(Model => Model.foods.SingleOrDefault().description)</th>
            <th></th>
        </tr>
        @foreach(var item in Model.foods)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.brandOwner)</td>
                <td>@Html.DisplayFor(modelItem => item.description)</td>
                <td><a asp-action="details" asp-route-id="@item.fdcId">Select</a></td>
            </tr>
        }
    </table>
</div>