@model RecipeData
@{
    ViewData["Title"] = "RecipeInfo";
}
<style>
    body {
        background-color: tan;
    }
</style>

<form asp-action="Save" asp-controller="Home" method="post">
    <div class="form-group">
        <div class="display-field">
            <img src="@Url.Content(@Model.Image)" />
        </div>
        <input asp-for="ID" hidden />
        <h1 style="color: teal">@Html.DisplayFor(model => model.Title)</h1>

        <input asp-for="Title" hidden />

        <h2>Ready in @Html.DisplayFor(model => model.ReadyInMinutes) minutes!</h2>

        <h3>
            For more information visit:
        </h3>
        <p1>
            <a href="@Model.SourceUrl">@Html.DisplayFor(model => model.SourceUrl)</a>
        </p1>
        <input asp-for="SourceUrl" hidden />

        <p>
            @{
                Html.RenderPartial("SummaryView");
            }
            <a href="@Url.Action("RecipeInstruction", "Home", new { id = Model.ID })">Instructions </a>
            
            <!--
            <a onclick="toggleHidden()">Instructions</a>
            -->

            <div id = "instructions" hidden>
                recipe info
            </div>

      </p>


        <input type="submit" value="Save" />





        
    </div>
</form>

<script>
    function toggleHidden(){
        let element = document.getElementById("instructions")
        element.hidden = !element.hidden
    }
</script>
