@model RecipeData
@{
    ViewData["Title"] = "RecipeInfo";
}
<style>
    body {
        background-color: tan;
    }
</style>

<form asp-action="Save" asp-controller="Home" method="post">
    <div class="form-group">
        <div class="display-field">
            <img src="@Url.Content(@Model.Image)" />
        </div>
        <input asp-for="ID" hidden />
        <h1 style="color: teal">@Html.DisplayFor(model => model.Title)</h1>

        <input asp-for="Title" hidden />

        <h2>Ready in @Html.DisplayFor(model => model.ReadyInMinutes) minutes!</h2>

        <h3>
            For more information visit:
        </h3>
        <p1>
            <a href="@Model.SourceUrl">@Html.DisplayFor(model => model.SourceUrl)</a>
        </p1>
        <input asp-for="SourceUrl" hidden />

        <p>
            @{
                Html.RenderPartial("SummaryView");
            }
            @using (Html.BeginForm("RecipeInstruction", "Home", new { id = Model.ID }, FormMethod.Get))
            {
            <p>
                <button type="submit">Instructions</button>
            </p>

            }




        <input type="submit" value="Save" />





        </p>
    </div>
</form>
